.futureTrends {
    width: 383px;
    position: relative;
    font-size: 96px;
    line-height: 52.8px;
    font-family: Italianno;
    color: #f3f3f3;
    text-align: left;
    display: inline-block;
}

