/* General styles for the MainHeader component */
.main-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.login-button,
.signup-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.signup-button {
    background-color: orange;
    border: none;
    color: black;
}

.logo-image {
    height: 40px; /* Adjust as necessary */
}

.header-content {
    margin-top: 20px;
}

.header-title {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-title .highlight {
    color: orange;
}

.header-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.get-started-button {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}
