.lhoooooooooob {
  width: 100%;
  position: relative;
  /* background-color: var(--color-gray-600); */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 2023px;
  box-sizing: border-box;
  mix-blend-mode: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #040404;
}
